beautifulsoup4==4.12.3
requests==2.32.3
fastapi==0.115.7
uvicorn==0.34.0
PyMuPDF==1.25.2
pdf2image==1.17.0
aiofiles==24.1.0
pytesseract==0.3.13
chromadb==0.6.3
pydantic-settings==2.7.1
sentence-transformers==3.4.1



